// .menu-item {
//   display: inline-block;
//   color: $light_gray;
// }

.text-content {
  width: 75%;
  margin-top: 30px;
  @include center-block();
}

.radio-btn {
  margin: 4px 10px 0 !important;
}

button{
  padding: 0px 20px !important;
  margin-right: 30px;
}

.card{
  text-align: left;
  max-width: 300px;
}

.alert.alert-danger{
  max-width: 300px;
}